/* Style général pour le composant BookList */

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1em;
    line-height: 1.6;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

li strong {
    font-size: 1.2em;
    color: #333;
}


/* Styles pour le statut de disponibilité */

span {
    font-weight: bold;
}

span:empty {
    display: none;
}

span {
    color: green;
    /* Couleur pour "Disponible" */
}

span[ng-reflect-ng-if="false"] {
    color: red;
    /* Couleur pour "Indisponible" */
}


/* Message d'erreur */

.error-message {
    color: red;
    font-size: 1.1em;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}